{% extends "base.html" %}

{% block body %}
    <div class="jumbotron">

        <form method=post>
            {{ form.hidden_tag() }}
            {{ form.searchterm.label }}
            {{ form.searchterm() }}
            {{ form.searchby.label }}
            {{ form.searchby() }}
            <br>
            {{form.submit()}}
        </form>

        {% for result in results %}
            <div class="container">
                <div class="jumbotron">
                    <p class="display-4">{{ result.name }}</p>
                </div>
                <br />
            </div>
        {% endfor %}


    </div>
{% endblock %}
