{% extends "base.html" %}

{% block body %}

    {% if searchterm == "" %}
        <div class="containter">
            <div class="jumbotron text-center">
                <h1>Welcome to the OT Class Catalog</h1>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="jumbotron text-center">
            <h3>Search</h3>
            <form method=post>
                {{ form.hidden_tag() }}
                {{ form.searchterm.label }}
                {{ form.searchterm() }}
                {{ form.searchby.label }}
                {{ form.searchby() }}
                <br>
                {{form.submit()}}
            </form>
        </div>
    </div>


    {% if searchterm != "" %}
    <div class="container">
        <div class="jumbotron">
            <h2>You searched for {{searchterm}} by {{searchby}}</h2>
            <div class="list-group">
                {% for result in results %}
                    {% if searchby == "teacher" %}
                        <a href={{ "/teacher/{}".format(result.name.replace(" ","")) }} class="list-group-item">{{result.name}}</a>
                    {% elif searchby == "course" %}
                        <a href={{ "/course/{}".format(result.name.replace(" ","").replace("/", "")) }} class="list-group-item">{{result.name}}</a>
                    {% elif searchby == "room" %}
                        <a href={{ "/room/{}".format(result.name.replace(" ","")) }} class="list-group-item">{{result.name}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <br />


{% endblock %}
