{% extends "base.html" %}

{% block body %}

    <div class="containter">
        <div class="jumbotron">
            <h1>{{ teacher.name }}</h1>
            <a href={{ "mailto:{}".format(teacher.email) }}>{{ teacher.email }}</a>
        </div>
    </div>

    <!--<div class="containter">-->
        <!--<div class="jumbotron">-->

        <!--{% for section in sections %}-->
            <!--<p>{{section.course.name}}</p>-->
        <!--{% endfor %}-->

        <!--</div>-->
    <!--</div>-->
{% endblock %}