{% extends "base.html" %}

{% block body %}

    <div class="containter">
        <div class="jumbotron">
            <h1>{{ teacher.name }}</h1>
            <a href={{ "mailto:{}".format(teacher.email) }}>{{ teacher.email }}</a>
        </div>
    </div>

    <div class="containter">
        <div class="jumbotron">

            {% for section in sections %}
                <p>Period {{ section.period }}: <a href={{ "/course/{}".format(section.course.name.replace(" ", "").replace("/", "")) }}>{{section.course.name}}</a> in <a href={{ "/room/{}".format(section.room.location) }}>{{ section.room.location }}</a></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}